{{template "public/header" .}}
    <h1><img src="/favicon.ico" alt="Favicon" style="vertical-align: middle; margin-right: 10px; height: 2em;">Telegram Images</h1>
    <div class="content-container">
        <label for="uploadFile" id="uploadFileLabel" class="custom-file-label">选择图片</label>
        <input type="file" name="image" id="uploadFile" accept=".jpg, .jpeg, .png, .gif, .webp" class="custom-file-input" multiple>
        <button id="uploadButton">上传</button>
        <div id="response" class="ui-widget"></div>
    </div>
{{template "public/footer" .}}